name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install API dependencies
        run: |
          cd api
          npm install
      - name: Build API
        run: |
          cd api
          npm run build
      - name: Install frontend dependencies
        run: npm ci
      - name: Build frontend
        run: npm run build
